{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container py-4">
    <a href="{% url 'state_list' state.country.pk %}" class="btn btn-default"> Back to States </a>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-4">
                    <div class="row">
                        <div class="col-md-8 d-flex align-items-center">
                            <h4 class="mb-0 font-weight-bolder">State Details</h4>
                        </div>
                    </div>
                </div>

                <div class="card-body pt-0">
                    <h1>{{ state.name }}</h1>
                    <p>Code: {{ state.code }}</p>
                    <p>Population: {{ state.population }}</p>
                    <p>Description: {{ state.description }}</p>
                    <p>Established Date: {{ state.established_date }}</p>
                    <a class="btn btn-success" href="{% url 'state_update' state.country.pk state.pk %}">Edit</a>
                    <a href="javascript;;" class="btn btn-link text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ state.pk }}">
                        Delete
                    </a>
                    <div class="modal fade" id="deleteModal{{ state.pk }}" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true" >
                        <div class="modal-dialog modal-danger modal-dialog-centered" >
                          <div class="modal-content">
                            <div class="modal-body">
                              <div class="py-3 text-center " style="text-wrap: wrap;">
                                <h4 class="text-gradient text-danger mt-4">Are you sure you want to delete this state?</h4>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                              <form action="{% url 'state_delete' state.country.pk state.pk %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-default ml-auto" type="submit">Yes</button>
                              </form>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
