{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container py-4">
<h2>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Task</h2>
<form method="post">
    {% csrf_token %}
    {% comment %} {{ form.as_p }} {% endcomment %}
    {% if form.non_field_errors %}
            <div style="color: red;">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        
        {% for field in form %}
        <div class="form-group">
            {% if field.label == 'Completed' %}
                <div class="d-flex align-items-center">
                    <div class="form-check">
                        {{ field }}
                    </div>
                    <label class="mb-0" for="{{ field.id_for_label }}">{{ field.label }}</label>
                </div>
            {% else %} 
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="">
                    {{ field }}
                </div>
            {% endif %}
            
            {% comment %} {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %} {% endcomment %}

            {% if field.errors %}
                <div class="text-danger">
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% endfor %}
    <a href="{% url 'project_detail' project.pk %}" class='btn btn-default'>Cancel</a>
    <button class='btn btn-primary' type="submit">Save</button>
</form>
</div>
{% endblock %}
